#PINLOCK_BEGIN

NET "DB<15>"        LOC =  "P100";
NET "DB<14>"        LOC =  "P101";
NET "DB<13>"        LOC =  "P102";
NET "DB<12>"        LOC =  "P173";
NET "DB<11>"        LOC =  "P174";
NET "DB<10>"        LOC =  "P175";
NET "DB<9>"         LOC =  "P176";
NET "DB<8>"         LOC =  "P178";
NET "DB<7>"         LOC =  "P179";
NET "DB<6>"         LOC =  "P180";
NET "DB<5>"         LOC =  "P181";
NET "DB<4>"         LOC =  "P187";
NET "DB<3>"         LOC =  "P188";
NET "DB<2>"         LOC =  "P189";
NET "DB<1>"         LOC =  "P191";
NET "DB<0>"         LOC =  "P195";
NET "AB<15>"        LOC =  "P199";
NET "AB<14>"        LOC =  "P200";
NET "AB<13>"        LOC =  "P201";
NET "AB<12>"        LOC =  "P202";
NET "AB<11>"        LOC =  "P203";
NET "AB<10>"        LOC =  "P204";
NET "AB<9>"         LOC =  "P205";
NET "AB<8>"         LOC =  "P206";
NET "AB<7>"         LOC =  "P3";
NET "AB<6>"         LOC =  "P4";
NET "AB<5>"         LOC =  "P5";
NET "AB<4>"         LOC =  "P6";
NET "AB<3>"         LOC =  "P7";
NET "AB<2>"         LOC =  "P8";
NET "AB<1>"         LOC =  "P9";
NET "AB<0>"         LOC =  "P10";
NET "MUX<2>"        LOC =  "P97";
NET "MUX<1>"        LOC =  "P96";
NET "MUX<0>"        LOC =  "P95";
#NET "CO<31>"        LOC =  "P29";
#NET "CO<30>"        LOC =  "P30";
#NET "CO<29>"        LOC =  "P31";
#NET "CO<28>"        LOC =  "P33";
#NET "CO<27>"        LOC =  "P34";
#NET "CO<26>"        LOC =  "P35";
#NET "CO<25>"        LOC =  "P36";
#NET "CO<24>"        LOC =  "P37";
#NET "CO<23>"        LOC =  "P75";
#NET "CO<22>"        LOC =  "P74";
#NET "CO<21>"        LOC =  "P73";
#NET "CO<20>"        LOC =  "P71";
#NET "CO<19>"        LOC =  "P70";
#NET "CO<18>"        LOC =  "P69";
#NET "CO<17>"        LOC =  "P68";
#NET "CO<16>"        LOC =  "P67";
#NET "CO<15>"        LOC =  "P63";
#NET "CO<14>"        LOC =  "P62";
#NET "CO<13>"        LOC =  "P61";
#NET "CO<12>"        LOC =  "P60";
#NET "CO<11>"        LOC =  "P59";
#NET "CO<10>"        LOC =  "P58";
#NET "CO<9>"         LOC =  "P57";
#NET "CO<8>"         LOC =  "P49";
#NET "CO<7>"         LOC =  "P48";
#NET "CO<6>"         LOC =  "P47";
#NET "CO<5>"         LOC =  "P46";
#NET "CO<4>"         LOC =  "P45";
#NET "CO<3>"         LOC =  "P44";
#NET "CO<2>"         LOC =  "P43";
#NET "CO<1>"         LOC =  "P42";
#NET "CO<0>"         LOC =  "P41";

NET "CI<31>"        LOC =  "P14";
NET "CI<30>"        LOC =  "P15";
NET "CI<29>"        LOC =  "P16";
NET "CI<28>"        LOC =  "P17";
NET "CI<27>"        LOC =  "P18";
NET "CI<26>"        LOC =  "P20";
NET "CI<25>"        LOC =  "P21";
NET "CI<24>"        LOC =  "P22";
NET "CI<23>"        LOC =  "P134";
NET "CI<22>"        LOC =  "P133";
NET "CI<21>"        LOC =  "P127";
NET "CI<20>"        LOC =  "P126";
NET "CI<19>"        LOC =  "P125";
NET "CI<18>"        LOC =  "P123";
NET "CI<17>"        LOC =  "P122";
NET "CI<16>"        LOC =  "P121";
NET "CI<15>"        LOC =  "P120";
NET "CI<14>"        LOC =  "P119";
NET "CI<13>"        LOC =  "P115";
NET "CI<12>"        LOC =  "P114";
NET "CI<11>"        LOC =  "P113";
NET "CI<10>"        LOC =  "P112";
NET "CI<9>"         LOC =  "P111";
NET "CI<8>"         LOC =  "P110";
NET "CI<7>"         LOC =  "P90";
NET "CI<6>"         LOC =  "P89";
NET "CI<5>"         LOC =  "P88";
NET "CI<4>"         LOC =  "P87";
NET "CI<3>"         LOC =  "P86";
NET "CI<2>"         LOC =  "P83";
NET "CI<1>"         LOC =  "P82";
NET "CI<0>"         LOC =  "P81";
NET "MCLK"          LOC =  "P192";
NET "MRD"           LOC =  "P24";
NET "IOW"           LOC =  "P99";
NET "IOR"           LOC =  "P84";
NET "CTRL4"         LOC =  "P168";
NET "CTRL3"         LOC =  "P98";
NET "CTRL2"         LOC =  "P166";
NET "CTRL1"         LOC =  "P165";
NET "MWR"           LOC =  "P23";
NET "CLK"           LOC =  "P94";
#NET "CLKG"          LOC = "P80";
NET "RUN"           LOC =  "P109";
NET "RESET"         LOC =  "P108";
NET "PRIX"          LOC= "P193";
NET "KRIX"          LOC = "P194";

#PINLOCK_END

